*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: aliceblue;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url("/static/images/bg.jpg");

	background-size: cover;
}
.form-holder {
	width: 100%;
	max-width: 570px;
	opacity: 1.5;
	padding: 20px;
	background-image: linear-gradient(to right, #667eea, #764ba2);
	border-radius: 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder input {
	display: block;
	width: 100%;
	background: rgba(240,240,240, .5);
	border: none;
	font-size: 16px;
	padding: 15px;
	outline: none;
	border-radius: 40px;
	color: #555;
	margin: 20px auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder button {
	display: block;
	width: 100%;
	background: #2E2E3A;
	border: none;
	font-size: 16px;
	padding: 15px;
	outline: none;
	border-radius: 40px;
	color: #fff;
	margin: 20px auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder button:hover {
	opacity: .8;
}

.form-holder img {
	width: 100px;
	display: block;
	margin: 10px auto;
	opacity: .8;
}

.message{
	display:flex; flex-direction:column;
}