.search-box{
    position: sticky;
    top: 27%;
    left: 72%;
    height: 52px;
    width: 531px;
    background-color: #2f3640;
    border-radius: 40px;
    padding: 10px;
}

.textbox{
    line-height: 40px;
   width: 436px;
    height: 42px;
    background: none;
    border: none;
    font-size: 20px;
    color: aliceblue;
    border-radius: 40px;
}